<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    {% block assets %}
        <script src="{% static 'libs/js/jquery.3.1.1.min.js' %}"></script>
        <script src="{% static 'libs/js/bootstrap.3.3.7.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'libs/css/bootstrap.3.3.7.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'script.js' %}"></script>
    {% endblock %}

    {% block title %}
    {% endblock %}
</head>
<body>

{% block content %}

{% endblock %}

<script type="text/javascript">
    if (window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>

</body>
</html>



