<div class="header-wrapper">

    {% if user.is_authenticated %}
        {% include 'social/header_loggedin.html' %}
    {% else %}
        {% include 'social/header_custom.html' %}
    {% endif %}

    {% comment %} pagination section {% endcomment %}
    <div class="row">
        <ul class="pager">
            {% if comments_dict %}
                <li>
                    {% if comments_page.has_previous %}
                        <a href="?page={{ comments_page.previous_page_number }}">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </a>
                    {% endif %}
                </li>
                <li>Page {{ comments_page.number }} of {{ comments_page.paginator.num_pages }}</li>
                <li>
                    {% if comments_page.has_next %}
                        <a href="?page={{ comments_page.next_page_number }}">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                <li><h5>There are no comments yet.</h5></li>
            {% endif %}
        </ul>
    </div>
</div>