<div class="header-wrapper">

    <div class="user-panel">
        <div class="row">
            <div class="col-md-9">
                <p>Hello Vasya!</p>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'social:comment_add' %}" name="post_comment_form" method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ comment_post_form }}
                    <span class="input-group-addon btn btn-default" onclick="post_comment_form.submit()">Post</span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <ul class="pager">
            {% if comments_dict %}
                <li>
                    {% if comments_page.has_previous %}
                        <a href="?page={{ comments_page.previous_page_number }}">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </a>
                    {% endif %}

                </li>
                <li>Page {{ comments_page.number }} of {{ comments_page.paginator.num_pages }}</li>
                <li>
                    {% if comments_page.has_next %}
                        <a href="?page={{ comments_page.next_page_number }}">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    {% endif %}

                </li>
            {% else %}
                <li><h5>There are no comments yet.</h5></li>
            {% endif %}
        </ul>
    </div>
</div>