{% include 'social/base.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}

    <div class="container-fill">
        <div class="container">
            <div class="message-container">

                {% include 'social/header.html' %}

                {% include 'social/comments/comments_list.html' %}

            </div>

            {# put hidden reply form in bottom of page #}
            {% include 'social/comments/comment_reply.html' %}

        </div>
    </div>

{% endblock %}


