<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <script src="{% static 'libs/js/jquery.3.1.1.min.js' %}"></script>
    <script src="{% static 'libs/js/bootstrap.3.3.7.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.3.3.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'comment_tree.js' %}"></script>
    <script src="{% static 'comment_util.js' %}"></script>

    <title>Home</title>
</head>
<body>

<div class="container-fill">
    <div class="container">
        <div class="message-container">

            {% include 'social/header.html' %}

            <div class="comments-wrapper">
                {# comments tree will be injected here #}
            </div>


        </div>

        {# put hidden forms in the bottom of page #}
        {% include 'social/comment_reply.html' %}

    </div>
</div>

</body>
</html>



