<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <script src="{% static 'libs/js/jquery.3.1.1.min.js' %}"></script>
    <script src="{% static 'libs/js/bootstrap.3.3.7.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.3.3.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap-theme.3.3.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>Home</title>
</head>
<body>

<div class="container-fill">
    <div class="container">
        <div class="message-container">

            {% include post_comment_template %}

            {% include comments_template %}


        </div>
    </div>
</div>

</body>
</html>



