{% for reply in replies %}
    <div id="comment-{{ reply.id }}" class="comment">
        <div class="comment-wrapper">
            <div class="comment-header">
                <img class="comment-header-avatar"
                     src="{{ reply.user.avatar_url }}">
                <div class="comment-header-author">
                    <span class="comment-header-author-name">{{ reply.user.full_name }}</span>:
                </div>
                <div class="comment-header-anchor">
                    <a class="comment-header-anchor-link" href="#">
                        {{ reply.pub_date|date:'d E Y' }} at {{ reply.pub_date|time:'H:i' }}
                    </a>
                </div>
            </div>
            <div class="comment-content">{{ reply.content }}</div>

            {% if request.user.is_authenticated %}
                <a href="" class="comment-reply-link" data-comment-id="{{ comment.id }}"
                   data-parent-id="{{ reply.id }}">Reply</a>
            {% endif %}

            {# reply form will be injected here by js #}
        </div>

        {# recursively render replies tree #}
        {% if reply.children %}
            {% include 'social/comments/comments_replies_list.html' with replies=reply.children %}
        {% endif %}

    </div>
{% endfor %}
