<div class="comments-wrapper">
    {% for comment, replies in comments_dict.items %}
        <div id="comment-{{ comment.id }}" class="comment comment-level-1">
            <div class="comment-wrapper">
                <div class="comment-header">
                    <img class="comment-header-avatar"
                         src="{{ comment.user.avatar_url }}">
                    <div class="comment-header-author">
                        <span class="comment-header-author-name">{{ comment.user.full_name }}</span>:
                    </div>
                    <div class="comment-header-anchor">
                        <a class="comment-header-anchor-link" href="#">
                            {{ comment.pub_date|date:'d E Y' }} at {{ comment.pub_date|time:'H:i' }}
                        </a>
                    </div>
                </div>
                <div class="comment-content">{{ comment.content }}</div>

                {% if user.is_authenticated %}
                    <a href="" class="comment-reply-link" data-comment-id="{{ comment.id }}">Reply</a>
                {% endif %}

                {# reply form will be injected here by js #}
            </div>

            {% include 'social/comments/comments_replies_list.html' %}
        </div>

    {% endfor %}
</div>